<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Page</title>
    <link rel="stylesheet" th:href="@{/css/searchPage.css}">
</head>
<body>

<header>
    <h1>
        <a th:href="@{/}" style="text-decoration: none; color: inherit;">My Website</a>
    </h1>
    <form method="get" action="/search">
        <label>
            <input type="search" name="q" placeholder="Search pages...">
        </label>
    </form>
</header>


<main>
    <aside> <!-- Left sidebar -->
        <h3>All pages:</h3>
        <ul>
            <li th:each="page : ${pages}">
                <a th:href="@{|/${page.slug}|}" th:text="${page.title}"></a>
            </li>
        </ul>
        <hr class="solid"> <!-- Page separator -->
    </aside>

    <article> <!-- Page content -->
        <h3>Search results:</h3>
        <ul>
            <li th:each="result : ${results}">
                <a th:href="@{|/${result.slug}|}" th:text="${result.title}"></a>
            </li>
        </ul>
    </article>
</main>

<footer>
    Website &copy; 2026
</footer>

</body>
</html>
